h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#212121; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_6848ba0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#212121;  }
#container_6848ba0_padding { margin: 10px; display: block;  }
#img_489b3d8 { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:8%; background:none; height:auto;  }
#heading_50443472 { vertical-align: top; position:relative; display: inline-block; background:none; font-size:24pt; font-family:'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive; color:#9577BA; text-align:left; font-weight:bold;  }
#button_5937bf07 { box-sizing: border-box; vertical-align: top; border-radius: 15px; position:relative; display: inline-block; float:right; width:150px; height:40px; background-color:#9577BA; border: 0px solid #404040;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#button_fdbfed7 { box-sizing: border-box; vertical-align: top; border-radius: 15px; position:relative; display: inline-block; float:right; width:150px; height:40px; background-color:#9577BA; border: 0px solid #404040;  }
#button_53e9a3ab { box-sizing: border-box; vertical-align: top; border-radius: 15px; position:relative; display: inline-block; float:right; width:150px; height:40px; background-color:#9577BA; border: 0px solid #404040;  }
#button_2fd91754 { box-sizing: border-box; vertical-align: top; border-radius: 15px; position:relative; display: inline-block; float:right; width:150px; height:40px; background-color:#9577BA; border: 0px solid #404040;  }
#button_5e11d928 { box-sizing: border-box; vertical-align: top; border-radius: 15px; position:relative; display: inline-block; float:right; width:150px; height:40px; background-color:#9577BA; border: 0px solid #404040;  }
#container_7d6e0e94 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:677px; background-color:#2C2C2C;  }
#container_7d6e0e94_padding { margin: 10px; display: block;  }
#heading_3bf7972b { vertical-align: top; position:relative; display: inline-block; background:none;  }
.textstyle4 { text-align:left;display: block }
.textstyle5 { font-size:18pt; font-family:'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive; color:#9577BA; font-weight:bold;  }
#container_7cabf6e6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:83px; background-color:#212121;  }
#container_7cabf6e6_padding { margin: 10px; display: block;  }
#heading_7eba60fe { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive; color:#9577BA; text-align:left;  }
